body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.flexible-container-1{
    display: flex;
    background-color: #13214A;
    padding: 15px 100px 0 150px;
}
.hero-width{
    width: 50%;
}
.hero-width img{
    width: 120%;
    height: 100%;
}
.hero-texts{
    margin-bottom: 50px;
    padding-top: 50px;
    color: white;
}
.hero-texts h1{
    font-size: 50px;
}
.hero-texts h3{
    font-size: 20px;
}
.brand-text1{
    color: #FA6867;
}
.brand-text2{
    color: #47C757;
}
.order-now-button{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px 32px;
    background: linear-gradient(88.33deg, #47C757 -7.64%, #3CB449 145.94%);
    box-shadow: 0px 2px 30px rgba(145, 252, 73, 0.5);
    border-radius: 100px;
    margin-top: 20px;
}
.flexible-container-2{
    display: flex;
    background-color: #E5E5E5;
    padding: 10px 100px 0 0;
    background-image: url(images/section-2-bg-img-2.jpg);
    background-size: contain;
    background-position: right;
}
.section-width{
    width: 50%;
}
.section-width img{
    width: 100%;
    height: 100%;
}
.section-width h1{
    font-size: 50px;
}
.section-width p{
    font-size: 20px;
    color: #13214A;
}
.contact-us-button{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px 32px;
    background: linear-gradient(88.33deg, #FA6867 -7.64%, #CF383B 145.94%);
    box-shadow: 0px 2px 30px rgba(255, 73, 73, 0.5);
    border-radius: 100px;
    margin-top: 20px;
}
.flexible-container-3{
    background-color: #E5E5E5;
}
.flexible-container-3 h1{
    text-align: center;
    color: #13214A;
}
.flexible-container-3 p{
    text-align: center;
    color: #13214A;
}