body{
    font-family: 'Encode Sans SC', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Otomanopee One', sans-serif;
    margin: 0;
}

.flexible-container-1{
    display: flex;
    background-color: #13214A;
    padding: 15px 100px 0 150px;
}
.hero-width{
    width: 50%;
}
.hero-width img{
    width: 120%;
    height: 100%;
}
.hero-texts{
    margin-bottom: 50px;
    padding-top: 50px;
    color: white;
}
.hero-texts h1{
    font-size: 45px;
}
.hero-texts h3{
    font-size: 18px;
}
.brand-text1{
    color: #FA6867;
}
.brand-text2{
    color: #47C757;
}
.order-now-button{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px 32px;
    background: linear-gradient(88.33deg, #47C757 -7.64%, #3CB449 145.94%);
    box-shadow: 0px 2px 30px rgba(145, 252, 73, 0.5);
    border-radius: 100px;
    margin-top: 20px;
}
.flexible-container-2{
    display: flex;
    background-color: #E5E5E5;
    padding: 10px 100px 0 0;
    background-image: url(images/section-2-bg-img-2.jpg);
    background-size: contain;
    background-position: right;
}
.section-width{
    width: 50%;
}
.section-width img{
    width: 100%;
    height: 100%;
}
.section-width h1{
    font-size: 50px;
}
.section-width p{
    font-size: 20px;
    color: #13214A;
}
.contact-us-button{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px 32px;
    background: linear-gradient(88.33deg, #FA6867 -7.64%, #CF383B 145.94%);
    box-shadow: 0px 2px 30px rgba(255, 73, 73, 0.5);
    border-radius: 100px;
    margin-top: 20px;
}
.section-3{
    background-color: #E5E5E5;
    padding: 10px 200px 15px 200px;
}
.section-3 h1{
    color: #13214A;
    text-align: center;
    font-size: 35px;
}
.section-3 h3{
    color: #13214A;
    text-align: center;
    padding-bottom: 15px;
}
.flexible-container-3{
    display: flex;
    background-color: #E5E5E5;
}
.recipe-box{
    background-color: white;
    height: 415px;
    width: 33%;
    border-radius: 30px;
    padding: 15px 15px;
    margin: 0 3%;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.recipe-box img{
    width: 100%;
    border-radius: 20px;
    margin-bottom: 5px;
}
.recipe-box h1{
    font-weight: 800;
    font-size: 18px;
    font-style: normal;
    text-align: left;
}
.recipe-box p{
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    text-align: left;
    padding-bottom: 20px;
}
.see-details-button{
    text-decoration: none;
    color: white;
    padding: 10px 32px;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
    border-radius: 100px;
    margin-top: 20px;
}
.section-4{
    background-color: #E5E5E5;
    padding: 50px 0 10px 8%;
}
.section-4 h1{
    text-align: center;
    font-size: 35px;
    color: #13214A;
    font-style: normal;
}
.section-4 p{
    color: #FA6867;
    font-style: oblique;
    font-size: 15px;
}
.flexible-container-4{
    display: flex;
    background-color: #E5E5E5;
}
.customer{
    box-shadow: 0px 0px 30px grey;
    background-color: #13214A;
    display: inline-block;
    width: 40%;
    padding: 1.7% 2.3%;
    margin: 1.4% 1%;
    border-radius: 20px;
}
.customer img{
    width: 10%;
    border-radius: 75%;
    margin-bottom: -10px;
}
.user-info{
    box-sizing: border-box;
    display: flex;
    display: inline-block;
    padding: 0 0 20px 10px;
}
.user-info h4{
    color: white;
    margin: 1px 0;
}
.user-info h5{
    color: white;
    margin: 0;
}.quotation{
    font-size: 35px;
    color: #47C757;
    font-weight: bold;
    font-style: oblique;
}
.section-5{
    background-color: #E5E5E5;
    padding: 10px 0;
}
.section-5 h1{
    font-size: 35px;
    color: #13214A;
    text-align: center;
    padding-top: 30px;
}
.flexible-container-5{
    background-color: white;
    display: flex;
    width: 60%;
    margin: 20px 0 -5px 190px;
    padding: 0 100px;
    box-shadow: 0px 0px 30px grey;
    border-radius: 20px;
}
.chief-details1{
    display: inline-block;
    margin: 25px 0 0 30px;
    text-align: left;
}
.chief-details2{
    display: inline-block;
    margin: 25px 30px 0 0;
    text-align: end;
}
.chief1 img{
    margin-left: -100px;
    border-radius: 10px 0 0 10px;
}
.chief2 img{
    margin-right: -100px;
    border-radius: 0 10px 10px 0;
}
.section-6{
    background-color: #E5E5E5;
    padding: 30px 30px;
}
.flexible-container-6{
    display: flex;
    box-shadow: 0px 0px 30px grey;
    width: 60%;
    margin: 20px 0 -5px 250px;
    padding: 20px;
    background-color: #13214A;
    border-radius: 20px;
}
.flexible-container-6 h1{
    color: white;
    font-size: 25px;
    text-align: center;
    padding-left: 75px;
}
.flexible-container-6 p{
    color: white;
    text-align: center;
    padding-left: 75px;
}

